/* GENERAL */

body{
margin:0;
font-family: "Segoe UI", sans-serif;
background:
linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
url("/static/images/plane_bg.jpg");
background-size:cover;
color:white;
}

/* SIDEBAR */

.sidebar{
position:fixed;
left:0;
top:0;
height:100vh;
width:220px;
background:#0d1b2a;
padding:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:10px 0;
padding:10px;
border-radius:8px;
}

.sidebar a:hover{
background:#007bff;
}

/* MAIN */

.main{
margin-left:240px;
padding:30px;
}

/* CARD */

.card{
background:rgba(255,255,255,0.12);
backdrop-filter:blur(10px);
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

/* FORM */

.form-row{
display:flex;
gap:10px;
margin-bottom:10px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:8px;
}

/* BUTTON */

button{
padding:12px;
background:#007bff;
border:none;
color:white;
border-radius:8px;
width:100%;
}

/* KPI */

.kpi-row{
display:flex;
gap:15px;
}

.kpi-card{
flex:1;
background:rgba(255,255,255,0.12);
padding:12px;
border-radius:10px;
text-align:center;
}

.kpi-card h3{
margin:5px 0;
font-size:20px;
}

/* GAUGE */

#gaugeChart{
max-width:300px;
margin:auto;
}

.gauge-legend{
display:flex;
justify-content:center;
gap:20px;
margin-top:10px;
}

.low{color:#00c3ff}
.mid{color:#f9c802}
.high{color:#ff4d4d}

/* MAP */

#map{
height:350px;
border-radius:10px;
}

/* EXPLANATION */

#explanationList{
line-height:1.8;
padding-left:20px;
}

#explanationList li{
margin-bottom:6px;
}
